{{ define "main" }}
<div id="ascii-container">
    {{- partial "ascii_box.html" . -}}
    <div class="content-container text-wrap">
        <span class="section-divider y">
            <span class="w">{{ .Title }}</span>
        </span>

        <div class="cmd">ls -la ~/posts</div>
        <div class="ls-total dg">total {{ len .Paginator.Pages }}</div>

        {{ range .Paginator.Pages }}
        <a href="{{ .RelPermalink }}" class="ls-entry">
            <div class="ls-row">
                <span class="ls-perm dy">-rw-r--r--</span>
                <span class="ls-date do">{{ .Date.Format "Jan 2006" }}</span>
                <span class="ls-name bb">{{ .Title }}</span>
                <span class="ls-size dg">{{ div (len .Content) 1024 }}.{{ mod (div (len .Content) 102) 10 }}K</span>
            </div>
            {{ with .Params.description }}
                <div class="ls-desc prp">"{{ . }}"</div>
            {{ end }}

        </a>
        {{ end }}

        {{ partial "pagination.html" . }}

    </div>
</div>
{{ end }}