{{ define "main" }}
<div id="ascii-container">
    {{- partial "ascii_box.html" . -}}

    <div class="content-container text-wrap">

        <span class="section-divider y">
            <span class="w">{{ .Title }}</span>
        </span>

        <div class="cmd">ls -la ~/tags</div>
        <div class="ls-total dg">total {{ len .Data.Terms }}</div>

        {{ $type := .Type }}

        {{ range $key, $value := .Data.Terms.Alphabetical }}

            {{ $name := .Name }}
            {{ $count := .Count }}

            {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}

            <a href="{{ .Permalink }}" class="ls-entry">

                <div class="ls-row">

                    <span class="ls-perm dy">
                        drwxr-xr-x
                    </span>

                    <span class="ls-date do">
                        tags
                    </span>

                    <span class="ls-name bb">
                        #{{ .Name }}
                    </span>

                    <span class="ls-size dg">
                        {{ $count }} posts
                    </span>

                </div>

            </a>

            {{ end }}

        {{ end }}

    </div>
</div>
{{ end }}
