        <div class="box-container">
            <pre id="ascii-box">
<span class="name-block">                            <span class="gy">      ██╗ ██████╗ ███████╗  ██████╗ ██╗   ██╗   ██╗ ██████╗ </span>
                            <span class="gy">      ██║██╔═══██╗██╔════╝  ██╔══██╗╚██╗ ██╔╝   ██║██╔═══██╗</span>
.<span class="y">__________________________ <span class="gy">      ██║██║   ██║█████╗    ██████╔╝ ╚████╔╝    ██║██║   ██║</span> ___________________________</span>.
:<span class="y">-------------------------- <span class="gy"> ██   ██║██║   ██║██╔══╝    ██╔══██╗  ╚██╔╝██   ██║██║   ██║</span> ---------------------------</span>:
|                           <span class="gy"> ╚█████╔╝╚██████╔╝███████╗  ██████╔╝   ██║ ╚█████╔╝╚██████╔╝</span>                            |</span>
|                           <span class="gy">  ╚════╝  ╚═════╝ ╚══════╝  ╚═════╝    ╚═╝  ╚════╝  ╚═════╝ </span>                            |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
|                                                                                                                   |
:<span class="y">___________________________________________________________________________________________________________________</span>:
:<span class="y">-------------------------------------------------------------------------------------------------------------------</span>:
            </pre>
        </div>