<div>
    <span class="section-divider y">
        <span class="w">Projects &amp; Engagements</span>
    </span>

    {{ range .Site.Data.engagements }}
    <div class="item">
        <div>
            <span class="gy">::</span>
            <span class="bb">{{ .title }}</span>
            {{ with .links }}
            {{ range $index, $link := . }}
            <a href="{{ $link.url }}"><span class="pnk">{{ $link.linkLabel }}</span></a>
            {{ end }}
            {{ end }}
        </div>
        <div class="item-description">
            <span class="prp">"{{ .description }}"</span>
        </div>
    </div>
    {{ end }}
</div>