
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="favicon.ico" type="image/x-icon">

{{ with .OutputFormats.Get "rss" -}}
{{ printf `
<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}


{{ $css := resources.Match "css/*.css" }}
{{ range $css }}
  {{ $styles := . | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
{{ end }}